In [1]:
import pandas as pd
import numpy as np
import prodigy
from prodigy.util import write_jsonl

In [2]:
!python -m prodigy dataset dfObsV03 "Classify observation"

  ?  Successfully added 'dfObsV03' to database SQLite.

## Read the Data

In [3]:
importVersion = '013'

In [4]:
path= '../data/01_df_v{0}.pickle'.format(importVersion)  # Put the path of the data in your local machine here, consider the letter "r" before the path
dfAstroNova = pd.read_pickle(path)

# Sort based on the Chapter

In [5]:
 # Sort the data based on the chapters of the book 
dfAstroNova['chapter'] = dfAstroNova.chapter.replace("appendix b",np.nan).astype(float)  
dfAstroNova = dfAstroNova.rename_axis('MyIdx').sort_values(by = ['chapter', 'MyIdx'], ascending = [True, True])
dfAstroNova.chapter.fillna('appendix b', inplace=True)

In [6]:
dfAstroNova.reset_index(inplace=True)
dfAstroNova=dfAstroNova.drop("MyIdx",axis=1,inplace=False)
dfAstroNova=dfAstroNova.drop("html",axis=1)

In [7]:
dfAstroNova.head()

,text,links,italic,chapter,graphic,table,marginal,sentences,tagged
0,Chapter 1,[],[],1,[],[],[],[Chapter 1],"[[(Chapter, None), (1, NUM)]]"
1,On the distinction between the first motion an...,[],[],1,[],[],[],[On the distinction between the first motion a...,"[[(On, None), (the, None), (distinction, None)..."
2,The testimony of the ages confirms that the mo...,[],[],1,[],[],[ Terms: 1. The first motion is that of the wh...,[The testimony of the ages confirms that the m...,"[[(The, None), (testimony, None), (of, None), ..."
3,It is just this from which astronomy arose amo...,[],[],1,[ ch 1 gr 1],[],[],[It is just this from which astronomy arose am...,"[[(It, None), (is, None), (just, None), (this,..."
4,Before the distinction between the first motio...,[],[(such],1,[],[],[ 2],[Before the distinction between the first moti...,"[[(Before, None), (the, None), (distinction, N..."

In [8]:
dfAstroNova.tail()

,text,links,italic,chapter,graphic,table,marginal,sentences,tagged
1600,,[],[],appendix b,[],[ appendix B t 2],[],[],[]
1601,"Kepler's table, for comparison",[],[],appendix b,[],[ appendix B t 3],[],"[Kepler's table, for comparison]","[[(Kepler, None), (s, None), (table, None), (f..."
1602,Mars from Earth to be a little greater than ha...,[{'#fn6': ' Kepler's observations yield topoce...,[],appendix b,[],[],[],[Mars from Earth to be a little greater than h...,"[[(Mars, None), (from, None), (Earth, None), (..."
1603,"As shown in Figure 2B, the Sun is assumed to ...",[],[],appendix b,[ appendix b gr 1],[],[],"[As shown in Figure 2B, the Sun is assumed to ...","[[(As, None), (shown, None), (in, None), (Figu..."
1604,The Sun moved westward and its longitude decre...,[],[4<sup>h</sup> 23<sup>m </sup>],appendix b,[],[],[],[The Sun moved westward and its longitude decr...,"[[(The, None), (Sun, None), (moved, None), (we..."

## Read the Sentences

In [9]:
df=dfAstroNova.sentences

In [10]:
df[16]

["But before that, I shall prove in this first part that one who substitutes the sun's apparent for its mean motion establishes a completely different orbit for the planet in the aether, whichever of the more celebrated opinions of the world he follows.",
 'Since this proof depends upon the equivalence of hypotheses, we shall begin with this equivalence.']

In [11]:
sents=[]
for para in dfAstroNova.sentences:
    sents +=para

In [14]:
texts = sents  
examples = []
options= [
        {"id": 0, "text": "negative"},
        {"id": 1, "text": "positive"}]
       
for text in texts:
    task = {"text": text,"options":options}
    examples.append(task)  
    
write_jsonl("dfObs_01.jsonl", examples)

In [15]:
texts = sents  
examples = []
for text in texts:
    task = {"text": text}
    examples.append(task)  
    
write_jsonl("dfObs_02.jsonl", examples)

In [12]:
texts = sents  
examples = []

       
for text in texts:
    task = {"text": text}
    examples.append(task)  
    
write_jsonl("dfObsV03.jsonl", examples)

In [16]:
!python -m prodigy dataset dfObs_02 "Classify observation"

  ?  Successfully added 'dfObs_02' to database SQLite.

In [17]:
! python -m prodigy db-in dfObs dfObs_02.jsonl

  ?  Imported 6699 annotations for 'dfObs' to database SQLite
  Added 'accept' answer to 6699 annotations
  Session ID: 2019-09-30_17-57-47

In [ ]:
!python -m prodigy textcat.teach df_obs en_core_web_sm --label Observation