# Regex and Prodigy (Merging)

<font size= "3">
Annotation of entities for sentences based on prodigy's format for different labels for further usage in Machine learning. Prodigy is an annotation tool based on spaCy. Please see here:
    </p>
  <a href="https://prodi.gy/ "> Prodigy </a> 
<font 3>

## Imports

In [7]:
import pandas as pd
import re
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import spacy 
import re
from prodigy.util import write_jsonl
import prodigy

## Read the Data

In [2]:
importVersion = '013'

In [3]:
path= '../data/01_df_v{0}.pickle'.format(importVersion)# Put the path of the data in your local machine here, consider the letter "r" before the path
dfAstroNova = pd.read_pickle(path)

In [4]:
type(dfAstroNova)

pandas.core.frame.DataFrame

In [5]:
dfAstroNova.head(5)

,html,text,links,italic,chapter,graphic,table,marginal,sentences,tagged
0,<p>Appendix B</p>,Appendix B,[],[],appendix b,[],[],[],[Appendix B],"[[(Appendix, None), (B, None)]]"
1,"<p><span class=""anchor"" id=""bookmark0""></span>...",On the Table of Oppositions in Chapter 15,[],[],appendix b,[],[],[],[On the Table of Oppositions in Chapter 15],"[[(On, None), (the, None), (Table, None), (of,..."
2,"<p>by Yaakov Zik <span style=""font-variant: sm...",by Yaakov Zik Table i:,[],[],appendix b,[],[],[],[by Yaakov Zik Table i:],"[[(by, None), (Yaakov, None), (Zik, None), (Ta..."
3,"<p><span class=""anchor"" id=""bookmark1""></span>...",Initial positions of Mars in Chapter 15 comput...,[],[],appendix b,[],[],[],[Initial positions of Mars in Chapter 15 compu...,"[[(Initial, None), (positions, None), (of, Non..."
4,<p>General notes:</p>,General notes:,[],[],appendix b,[],[],[],[General notes:],"[[(General, None), (notes, None)]]"

In [6]:
len(dfAstroNova)

1605

In [7]:
len(dfAstroNova['tagged'] )

1605

### Read the Sentences

In [8]:
df=dfAstroNova.sentences

In [9]:
texts=[]
for sen in dfAstroNova.sentences:
    texts +=sen

In [10]:
texts[0:10]

['Appendix B',
 'On the Table of Oppositions in Chapter 15',
 'by Yaakov Zik Table i:',
 'Initial positions of Mars in Chapter 15 computed with Guide 9 using JPL DE430.',
 'General notes:',
 "The time is measured from midnight; Gregorian dates are obtained by adding 10 days to Kepler's dates.",
 'The dates are given in old style.',
 'Geographical coordinates: Uraniborg 12 41 46 E, 55 54 30 N [50m]; Wandesburg (Wandsbek-Hamburg) 10 05 53 E, 53 35 10 N [15m]; Prague 14 26 E, 53 35 10 N [250m].',
 'The longitudes are given in geocentric ecliptic coordinates.',
 '1 2345']

# Merging  Based on Consistant format with Prodigy

<fig size= 3>
We annotated the text label by label using regex, In this way we  could see influence of each label.Then, each annotation is corrected by a annotater using prodigy interface. Morever we run a ner.batch-train to  use Prodigy to make more corrections. Now we can merge this 4 versions of our data in a single version of corrected annotated data by annotater and prodigy.

    
<fig size>

## Merging DATE, TIME and ASTR

<fig size= 3>
Annotations refer to:
<ul>
    
<li>ASTR: Astronomical sizes </li>
<li>DATE: All types of date </li>
<li>TIME: All types of time </li>
<li>PARA: Parameters for geometric models</li>
<fig size>
    </ul>

In [9]:
from prodigy.components.db import connect
#datasets = ['an_ner_date_01', 'an_ner_time_01']

db = connect() # uses the settings in your prodigy.json
                                     
datasets = ['an_ner_date_01', 'an_ner_astr_01']
merged_examples = []
for dataset in datasets:
    examples = db.get_dataset(dataset)
    merged_examples += examples

db.add_dataset('an_ner_date_astr_01')  # however you want to call the new set
db.add_examples(merged_examples, datasets=['an_ner_date_astr_01'])

In [ ]:
from prodigy import set_hashes

merged_dataset = [set_hashes(eg, overwrite=True) for eg in merged_dataset]
db.add_dataset('merged_dataset')
db.add_examples(mergex_examples, datasets=['merged_dataset'])

## See Misaligned Tokens

<fig size= 3>
This step is very important, since if Pordigy faces with Misaligned tokens, we can see that before and try to adjust regex accordingly
<fig size>

In [8]:
nlp = spacy.load("en_core_web_sm")  
for example in merged_examples:  
    doc = nlp(example["text"])
    for span in example["spans"]:
        char_span = doc.char_span(span["start"], span["end"])
        if char_span is None:  
            print("Misaligned tokens", example["text"], span)

In [32]:
examples [150:160]  # here we can search for Misaligned Tokens and try to find a remedy by regex

[{'text': 'And the table has 12° 43’ 45”.', 'spans': []},
 {'text': 'On 1595 October 30 at 8h 20m, they found Mars at 17° 48’ Taurus, with a diurnal motion of 22’ 54” ^15.',
  'spans': [{'start': 22, 'end': 29, 'label': 'TIME'}]},
 {'text': 'The designated moment preceded by 11h 48m, for which is required a motion of Mars of 11’ 7” eastward, so that it would be at 17° 59’ 7” Taurus.',
  'spans': [{'start': 34, 'end': 42, 'label': 'TIME'}]},
 {'text': 'But it was projected eastward on account of parallax.',
  'spans': []},
 {'text': 'Therefore, possibly using another observation on the meridian, they put down 17° 56’ 15” Taurus in the table.',
  'spans': []},
 {'text': 'On 1597 December 10 at 8h 30m, they first placed Mars at 3° 30’ Cancer, and again at 4° 1’ Cancer, the mean being 3° 45½’ Cancer ^16.',
  'spans': [{'start': 23, 'end': 30, 'label': 'TIME'}]},
 {'text': 'The moment of opposition came 3 days 5h 5m later, to which, from Magini, corresponds 1° 15’ westward.',
  'spans': [{'start': 37, 'end': 42, 'label': 'TIME'}]},
 {'text': 'Therefore, Mars would have been at 2° 30½’ Cancer.', 'spans': []},
 {'text': 'In the table, it was put at 2° 28’.', 'spans': []},
 {'text': 'The reason for the rough measurement, carried out with a measuring staff, is clear from the date.',
  'spans': []}]

In [33]:
text= "On 1595 October 30 at 8h 20m, they found Mars at 17° 48’ Taurus, with a diurnal motion of 22’ 54” ^15."  #try to find the Misaligned Tokens
text[22:28]

'8h 20m'