In [5]:
import pandas as pd
import numpy as np
import re
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import spacy 
import re
from prodigy.util import write_jsonl
import jsonlines

## Read the Data

In [15]:
pwd

'C:\\Projects_28_06\\notebooks\\yeghaneh\\BZML_OCT\\notebooks'

In [36]:
{"text":"demonstrations of the preceding chapter.","spans":[],"_input_hash":-186102312,"_task_hash":171862029,"answer":"accept"}

b={"text":"Therefore, as 100,000 is to 70,711, so is 7560 to 5346, the sine of the arc of 3\u00b0 4' 52\", which is CEB.","spans":[{"start":14,"end":21,"label":"PARA","answer":"accept"},{"start":79,"end":88,"label":"LONG","answer":"accept"}],"_input_hash":16621573,"_task_hash":-706401107,"answer":"accept"}

In [37]:
type(b)

dict

In [71]:
path= '../data/DATA_MERGED_V12.jsonl'
with jsonlines.open(path) as reader:
    a=[]
    for example in reader:
        if example["spans"]==[]:
            del example["_input_hash"],example["_task_hash"],example["answer"]
        else:
            del example["_input_hash"],example["_task_hash"],example["answer"]
            for lst in example["spans"]:
                
                del lst["answer"]
        a.append(example)
write_jsonl("DATE_MERGED_EDIT_V15.jsonl", a)

In [164]:
b={"text":"Therefore, as 100,000 is to 70,711, so is 7560 to 5346, the sine of the arc of 3\u00b0 4' 52\", which is CEB.","spans":[{"start":14,"end":21,"label":"PARA"},{"start":42,"end":46,"label":"PARA"},{"start":79,"end":88,"label":"LONG"}]}

# The second Function

In [80]:
("As shown in Figure 2B, the Sun is assumed to be at the center of the planetary system.",{"entities": [(27, 30, 'PLAN')]})

('As shown in Figure 2B, the Sun is assumed to be at the center of the planetary system.',
 {'entities': [(27, 30, 'PLAN')]})

In [194]:
a=[{"text":"To find the position of Mars at opposition, Kepler computed the angular distance that Mars and Earth\u2014now substituting the place of the Sun\u2014moved during 17 hours 20 minutes; Mars moved eastward about 16' 20\" and the Sun westward about 42' 18\".","spans":[{"start":152,"end":171,"label":"TIME"},{"start":32,"end":42,"label":"ASTR"},{"start":184,"end":192,"label":"ASTR"},{"start":199,"end":206,"label":"LONG"},{"start":234,"end":241,"label":"LONG"},{"start":24,"end":28,"label":"PLAN"},{"start":86,"end":90,"label":"PLAN"},{"start":95,"end":100,"label":"PLAN"},{"start":135,"end":138,"label":"PLAN"},{"start":173,"end":177,"label":"PLAN"},{"start":215,"end":218,"label":"PLAN"}]}
,{"text":"Accordingly, Kepler determined the longitude of Mars at opposition to be 198\u00b0 37' 50\" from which he subtracted about 39\" in order to correct Mars's orbit; he got 198\u00b0 37' 10\" (18\u00b0 37' 10\" Libra).","spans":[{"start":35,"end":44,"label":"ASTR"},{"start":56,"end":66,"label":"ASTR"},{"start":148,"end":153,"label":"ASTR"},{"start":73,"end":85,"label":"LONG"},{"start":162,"end":174,"label":"LONG"},{"start":176,"end":193,"label":"LONG"},{"start":48,"end":52,"label":"PLAN"},{"start":141,"end":145,"label":"PLAN"}]},{"text":"The Sun moved westward and its longitude decreased from the time of observation to its position opposite to Mars.","spans":[{"start":31,"end":40,"label":"ASTR"},{"start":68,"end":79,"label":"ASTR"},{"start":4,"end":7,"label":"PLAN"},{"start":108,"end":112,"label":"PLAN"}]}
,{"text":"Therefore, the time of opposition is 17 hours 20 minutes before March 29, at 21:43, the time when the observation was made.","spans":[{"start":64,"end":72,"label":"DATE"},{"start":37,"end":56,"label":"TIME"},{"start":23,"end":33,"label":"ASTR"},{"start":102,"end":113,"label":"ASTR"}]}]

In [117]:
type(a)

dict

In [147]:
dic={}
for example in a:
    for lst in example["spans"]:
        dic.update(entities=(lst["start"],lst["end"],lst["label"]))

In [149]:
dic

{'entities': (102, 113, 'ASTR')}

In [182]:
def change_format(sents):
    d={}
    d['text']=b["text"]    
    for lst in b["spans"]:
        d.setdefault('entities', [])
        d['entities'].append((lst["start"],lst["end"],lst["label"]))

In [180]:
d

{'text': 'Therefore, as 100,000 is to 70,711, so is 7560 to 5346, the sine of the arc of 3Â° 4\' 52", which is CEB.',
 'entities': [(14, 21, 'PARA'), (42, 46, 'PARA'), (79, 88, 'LONG')]}

In [202]:
c=[]
with jsonlines.open(path) as reader:
    for example in reader:
        d={}
        d['text']=b["text"]    
        for lst in b["spans"]:
            d.setdefault('entities', [])
            d['entities'].append((lst["start"],lst["end"],lst["label"]))
        c.append(d)

In [204]:
type(c)

list

In [205]:
c[1:3]

[{'text': 'Therefore, the time of opposition is 17 hours 20 minutes before March 29, at 21:43, the time when the observation was made.',
  'entities': [(64, 72, 'DATE'),
   (37, 56, 'TIME'),
   (23, 33, 'ASTR'),
   (102, 113, 'ASTR')]},
 {'text': 'Therefore, the time of opposition is 17 hours 20 minutes before March 29, at 21:43, the time when the observation was made.',
  'entities': [(64, 72, 'DATE'),
   (37, 56, 'TIME'),
   (23, 33, 'ASTR'),
   (102, 113, 'ASTR')]}]